div{

}

.head1{
  background-color: #0C2340;
  border: 2px solid white;
}

body {
  background-color: lightblue;
}

h2 {
  color: #0C2340;
  text-align: center;
  font-family: courier new;
}

p {
  color: #C99700;
  text-align: center;
  font-family: courier new;
}

